.Auth{
  display: flex;
  min-width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  box-sizing: border-box;
  padding: 3rem;
  border-radius: 0.6rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #A9A9A9
}

.Title{
  color: var(--main-panetone-color);
  padding: 1.0em;
  text-transform: uppercase;
}

.changeAuth{
  font-size: 2rem;
  color: var(--main-panetone-color);
  padding: 1.0em;
}