.Product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.6rem;
    position: relative;
    background: #EEE;
}
.Product div{
    font-size: 2rem;
    font-weight: bolder;
    font-family: monospace;
    color: var(--main-panetone-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.Product div:hover{
    transform: scale(1.3);
}

.Product:hover {
    background: #DDD;
}

@media (max-width: 400px){
    .Product{
        margin: 0;
        padding: 1rem;
    }

}
