.Modal{
    position: fixed;
    z-index: 150;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: white;
    width: 35rem;
    padding: 3rem;
    border-radius: 0.6rem;
    box-sizing: border-box;
    min-height: 15rem;

    border: 3px solid var(--main-panetone-color);

    color: var(--main-panetone-color);
    margin-top: 5rem;
}
.Buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.Modal h1{
    font-size: 2rem;
}
.Modal button{
    
    cursor: pointer;
    border-radius: 0.6rem;
    width: 10rem;
    height: 3rem;
    
    color: white;
    margin-top: .7rem;
}
.Modal button:hover{
    transform: scale(1.05); 
}
.Modal button.Wrong{
    background: var(--main-panetone-color);
    border: 3px solid var(--main-panetone-color);   
}
.Modal button.Right{
    background: green;
    border: 3px solid green;   
}

@media (max-width: 500px){
    .Modal{
        width: 100%;
        border-radius: none;
    }
}
