.Descontrolada {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: top;
	background-color: var(--dark-grey-color);
}

.Navigation {
	background-color: var(--main-panetone-color);
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 6rem;
}
.Navigation ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	max-width: 1000px;
}
.Navigation a {
	color: white;
	font-size: 1.8rem;
}
.Navigation a:hover,
.Navigation a:active,
.Navigation a.active {
	color: var(--main-yellow-color);
}
