.Card{
    display: flex;
    min-width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 3rem;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #A9A9A9
}