.HomeContainer{
    width: 100vw;
    height: 100vh;
    background: #CCC;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 6rem;
    left: 0;
}
body > .HomeContainer{
    overflow: hidden;
}
.HomeCenter{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.Left{
    margin: 10%;
    position: relative;
    background-image: url(/octopus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 6rem;
    color: var(--main-panetone-color);
}
.Right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Right h2{
    font-size: 4.5rem;
    text-align: justify;
}
.Right a{
    margin-top: 2rem;
}
.Right img{
    width: 5rem;
    transition: .3s;
}
.Right img:hover{
    transform: scale(1.1);
}

@media (max-width: 1350px){
    .Right h2{
        font-size: 4.0rem;
    }
}
@media (max-width: 1150px){
    .Right h2{
        font-size: 3.5rem;
    }
}
@media (max-width: 1050px){
    .Right h2{
        font-size: 3.0rem;
    }
    .Title{
        font-size: 5rem;
    }
}
@media (max-width: 850px){
    .Right h2{
        font-size: 2.5rem;
    }
    .HomeCenter{
        width: 90%;
        height: 70%;
    }
}
@media (max-width: 750px){
    .Right h2{
        font-size: 2.2rem;
    }
    .HomeCenter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 450px){
    
    .Title{
        font-size: 3.5rem;
    }
}
@media (max-width: 400px){
    
    .Title{
        font-size: 3rem;
    }
}
