.UserImage{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;

}
.Title{
  color: var(--main-panetone-color);
  padding: 1.0em;
  text-transform: uppercase;
}

.changeAuth{
  font-size: 2rem;
  color: var(--main-panetone-color);
  padding: 1.0em;
}