.Input{
  width: 100%;
  padding: 1.3em;
  box-sizing: border-box;
  
}

.Label{
	font-weight: bold;
}

.inputElement {
	outline: none;
  height: 4rem;
	border: 1px solid #ccc;
	font-size: 1.8rem;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}


.Invalid {
	border: 1px solid red;
	background-color: #fda49a;
}

input:focus {
	outline: none;
	background-color: #ccc;
}